{%extends 'views/base.html'%}{%block title%}Sign Up{%endblock title%}
{%block content%}
<div class="container-fluid d-flex justify-content-center">
  <div class="signup-login border border-2 rounded-4 shadow pt-4">
    <div class="mb-3 text-center">
      <span class="fs-2 border-bottom border-2 border-white pb-1" style="color: white;">Sign Up</span>
    </div>
    <form method="POST" class="px-5 py-5 pt-0" novalidate>
      {{form.hidden_tag()}}
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email">
        <label for="email">Email address</label>
        {% if form.email.errors %}
          {% for error in form.email.errors %}
              <span class="invalid">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password1" placeholder="Password" name="password1">
        <label for="password1">Password</label>
        {% if form.password1.errors %}
          {% for error in form.password1.errors %}
              <span class="invalid">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
      
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password2" placeholder="Confirm Password" name="password2">
        <label for="password2">Confirm Password</label>
        {% if form.password2.errors %}
          {% for error in form.password2.errors %}
              <span class="invalid">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
      <div class="d-flex justify-content-center"><button type="submit" class="btn btn-primary align-center">Sign Up</button></div>
    </form>
  </div>
</div>
{%endblock content%}
