<div class="navbar navbar-expand-md navbar-dark bg-dark fixed-top p-3 border-bottom border-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('views.home') }}">EcommerceADY</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('views.home') }}">
            <i class="bi bi-house"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Contact Us
          </a>
        </li>
      </ul>
      
      <form class="d-flex" method="POST" action="{{ url_for('views.search') }}">
        <input class="form-control me-2" type="text" name="search" placeholder="Search..." aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('views.cart') }}">
            <i class="bi bi-cart"></i> Cart
            {% if cart_no > 0 %}
            <span class="badge bg-secondary">{{ cart_no }}</span>
            {% endif %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('views.wishlist') }}">
            <i class="bi bi-heart"></i> WishList
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person"></i> {{current_user.first_name}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item " href="{{ url_for('views.profile') }}">Profile </a></li>
            <li>
                <a class="dropdown-item" href="{{ url_for('views.orders')}}">Orders</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            {% if current_user.role == "admin" %}
              <li><a class="dropdown-item" href="{{url_for('admin.index')}}">Admin Page</a></li>
              <li><a class="dropdown-item" href="{{url_for('views.add_product')}}">Add new product</a></li>
              <li><hr class="dropdown-divider"></li>
            {% endif %}
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item d-flex justify-content-between" href="{{ url_for('auth.logout') }}">Sign out <i class="bi bi-box-arrow-right"></i></a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.login') }}">
            Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.sign_up') }}">
            Sign Up
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
