<div class="container-fluid p-3 border-bottom bg-dark fixed-top" data-bs-theme="dark">
  <div class="container d-flex justify-content-between align-items-center">
    <div>
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a
            href="#"
            class="nav-link px-2 link-body-emphasis"
            >About Us</a
          >
        </li>
        <li>
          <a
            href="#"
            class="nav-link px-2 link-body-emphasis"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>

    <div>
      <form
        class="d-flex"
        role="search"
        method="POST"
        action="#">
        <div class="input-group me-2 search">
          <input
            type="search"
            name="search"
            class="form-control rounded-start-5"
            placeholder="Search..."
            aria-label="Search" />
          <button
            class="btn btn-outline-secondary rounded-end-5 justify-content-center"
            type="button"
            id="button-addon2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 18 19">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
          </button>
        </div>
      </form>
    </div>

    <div class="d-flex align-items-center justify-content-between">
        <a
          href="#"
          class="link-body-emphasis text-decoration-none px-3"
          ><i class="bi bi-cart"></i> Cart</a
        >
        <a
          href="#"
          class="link-body-emphasis text-decoration-none px-3"
          ><i class="bi bi-balloon-heart"></i> WishList</a
        >
      
      <div class="dropdown text-end align-items-center">
        <a
          href="#"
          class="link-body-emphasis text-decoration-none dropdown-toggle px-2"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="bi bi-person"></i> Account
        </a>
        <ul class="dropdown-menu text-small">
          <li>
            <a class="dropdown-item" href="#"
              >Create Post</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              >Profile</a
            >
          </li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="#"
              >Sign out</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
