{% extends 'views/base.html' %}{% block title %}Checkout{% endblock title %}
{% block content %}
<div class="container-fluid">
	<div class="bg-white p-4 rounded-3">
	    <form action="{{ url_for('views.place_order') }}" method="POST" id="paymentForm">
	    	{{ form.hidden_tag() }}
	    	<div class="mb-3">
            	<button type="submit" class="btn btn-success" id="pay-button">Place order</button>
            	<a href="{{ url_for('views.cart') }}" class="btn btn-danger">Cancel</a>
                <span class="fw-light d-block fs-small" style="color: red;">Caution: Please fill out the required address form before proceeding to place order!</span>
            </div>
            <div class="accordion accordion-flush" id="accordionAddress">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#address" aria-expanded="false" aria-controls="flush-collapseOne">
                            Address
                        </button>
                    </h2>
                    <div id="address" class="accordion-collapse show" data-bs-parent="#accordionAddress">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="phone" class="form-label">Phone</label>
                                    {{ form.phone(class="form-control") }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="address" class="form-label">Address</label>
                                    {{ form.address(class="form-control") }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="address2" class="form-label">Address 2<span>(optional)</span></label>
                                    {{ form.address2(class="form-control") }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="city" class="form-label">City</label>
                                    {{ form.city(class="form-control") }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="country" class="form-label">Country</label>
                                    {{ form.country(class="form-select") }}
                                </div>
                            </div>                     
                        </div>
                    </div>
                </div>
            </div>
            <hr>  
            <div class="accordion accordion-flush" id="accordionSummary">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#summary" aria-expanded="false" aria-controls="flush-collapseOne">
                            Order summary
                        </button>
                    </h2>
                    <div id="summary" class="accordion-collapse show" data-bs-parent="#accordionSummary">
                        <div class="accordion-body">
                            <ul>
                            	{% for item in summary %}
	                            	<li>{{ item.name }} - GH₵{{ item.price }}</li>
                            	{% endfor %}
                            </ul>

                        </div>
                    </div>
                </div>
            </div>	              
	        <div class="accordion accordion-flush d-none" id="accordionPayment">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#payment" aria-expanded="false" aria-controls="flush-collapseOne">
                            Payment method
                        </button>
                    </h2>
                    <div id="payment" class="accordion-collapse collapse" data-bs-parent="#accordionPayment">
                        <div class="accordion-body">
                        	<div class="form-group">
                                  <label for="email">Email Address</label>
                                  <input type="email" id="email-address" name="email" value="{{ current_user.email }}" required />
                              </div>
                              <div class="form-group">
                                  <label for="amount">Amount</label>
                                  <input type="tel" id="amount" name="amount" value="{{ total_price }}" required />
                              </div>
                              <div class="form-group">
                                  <label for="first-name">First Name</label>
                                  <input type="text" id="first-name" name="first_name" value="{{ current_user.first_name }}"/>
                              </div>
                              <div class="form-group">
                                  <label for="last-name">Last Name</label>
                                  <input type="text" id="last-name" name="last_name" value="{{ current_user.last_name }}"/>
                              </div>                
                        </div>
                    </div>
                </div>
            </div>       
	    </form>
    </div>
</div>
<script src="{{ url_for('static', filename='js/paystack.js') }}"></script>
{% endblock content %}
