{% extends "views/base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="container-fluid">
    <!-- Main Section with Carousel and Categories -->
    <div class="row mb-4 align-items-center justify-content-center">
        <!-- Categories List -->
        <div class="col-12 col-md-3 mb-3 mb-md-0">
            <div class="list-group rounded-4 text-center">
                <a href="{{ url_for('views.food_and_Grocery') }}" class="list-group-item list-group-item-action">Food & Grocery</a>
                <a href="{{ url_for('views.mobile_phones_and_Tablets') }}" class="list-group-item list-group-item-action">Mobile Phones & Tablets</a>
                <a href="{{ url_for('views.electronics') }}" class="list-group-item list-group-item-action">Electronics</a>
                <a href="{{ url_for('views.sports') }}" class="list-group-item list-group-item-action">Sports</a>
                <a href="{{ url_for('views.home_furniture_and_appliances') }}" class="list-group-item list-group-item-action">Home, Furniture & Appliances</a>
                <a href="{{ url_for('views.fashion') }}" class="list-group-item list-group-item-action">Fashion</a>
                <a href="{{ url_for('views.health_and_Beauty') }}" class="list-group-item list-group-item-action">Health & Beauty</a>
                <a href="{{ url_for('views.toys') }}" class="list-group-item list-group-item-action">Toys</a>
            </div>
        </div>
        <!-- Carousel -->
        <div class="col-12 col-md-6 mb-3 mb-md-0">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner rounded-4">
                <div class="carousel-item active">
                  <img src="{{ url_for('static', filename='images/Slider_CS_Itel_A50_d.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{{ url_for('static', filename='images/Slider_CS_Note_Cosmetics_d.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{{ url_for('static', filename='images/Slider_CS_All_Eyes_on_you_d.jpg') }}" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
        <!-- Placeholder for Additional Content -->
        <div class="col-12 col-md-3 rounded-4 bg-light">
            <p class="text-center py-5">Placeholder content</p>
        </div>
    </div>

    <!-- Product Cards Section -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3">
        {% if products %}
            {% for product in products %}
                <div class="col product-item">
                    <div class="card h-100">
                        <div class="position-relative">
                            <img src="{{ url_for('static', filename='images/'+ product.image_name) }}" class="card-img-top" alt="...">
                            <form class="position-absolute top-0 end-0 m-3" action="{{ url_for('views.add_or_remove_from_wishlist', product_id=product.id) }}" method="POST">
                                <button class="btn btn-light rounded-circle" type="submit">
                                    {% if product.id in liked_products %}
                                        <i class="bi bi-heart-fill text-danger"></i>
                                    {% else %}
                                        <i class="bi bi-heart text-dark"></i>
                                    {% endif %}
                                </button>
                            </form>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <span class="card-text fw-light mb-2">Price: GH₵{{ product.price }}</span>
                            <div class="mt-auto">
                                <form action="{{ url_for('views.add_to_cart', product_id=product.id) }}" method="POST">
                                    <button type="submit" class="btn btn-warning btn-block"><i class="bi bi-cart-plus"></i> Add to Cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}
