{% extends 'views/base.html' %}
{% block title %}Orders{% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="container-fluid text-center mb-3">
        <span class="fs-1" style="color: white;">Orders</span>
    </div>
    {% if orders_summary %}
    <div class="row">
        {% for order_summary in orders_summary %}
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card order-card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ order_summary.order.order_name }}</h5>
                        <div class="accordion accordion-flush" id="accordionFlush">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ order_summary.order.id }}" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Products
                                    </button>
                                </h2>
                                <div id="{{ order_summary.order.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
                                    <div class="accordion-body">
                                        <ul>
                                            {% for product, price in order_summary.summary_data %}
                                            <li>{{product}} - GH₵{{price}}</li>
                                            {% endfor %}
                                        </ul>
                                        <span class="fw-medium">Total - </span><span class="fw-light">GH₵{{ order_summary.order.total_price }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-3">
                        <div class="progress" role="progressbar" aria-label="Order status" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            {% if order_summary.order.status == 'pending' %}
                                <div class="progress-bar text-bg-warning progress-bar-striped progress-bar-animated" style="width: 25%">Pending</div>
                            {% elif order_summary.order.status == 'processing' %}
                                <div class="progress-bar text-bg-warning progress-bar-striped progress-bar-animated" style="width: 50%">Processing</div>
                            {% elif order_summary.order.status == 'shipped' %}
                                <div class="progress-bar text-bg-warning progress-bar-striped progress-bar-animated" style="width: 75%">Shipped</div>
                            {% elif order_summary.order.status == 'delivered' %}
                                <div class="progress-bar text-bg-success progress-bar-striped" style="width: 100%">Delivered</div>
                            {% elif order_summary.order.status == 'canceled' %}
                                <div class="progress-bar text-bg-danger" style="width: 100%">Canceled</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row">
        <div class="col">
            <div class="text-center py-5">
                <span class="fs-4" style="color: white;">You have not ordered anything yet.</span>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
